.idea
__pycache__/
atomize/device_modules/config/__pycache__/
atomize/device_modules/config/__pycache__
*.pyc
*.swo
*~
build
dist
*.egg-info
atomize/logos
atomize/device_modules/Metrolab_PT2025.py
atomize/device_modules/config/Metrolab_PT2025_config.ini
atomize/temp.param
atomize/temp.csv
libs/exam_adc.ini
libs/exam_edac.ini
libs/status
libs/treatment_buffer.csv
libs/treatment_lastdir.txt
libs/excitation_lastdir.txt
libs/script_lastdir.txt
libs/data_lastdir.txt
libs/cw_lastdir.txt
libs/tr_lastdir.txt
libs/tune_lastdir.txt
libs/phase_lastdir.txt
libs/phase_awg_lastdir.txt
libs/phase_cor_lastdir.txt
*.param
CLAUDE.md