[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize tr
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-tr
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-tr
