[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize excprof
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-excprof
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-excprof
