[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize cw
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-cw
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-cw
