[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize spin
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-spin
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-spin
