[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize treat
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-treat
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-treat
