[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize tune
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-tune
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-tune
