[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize treat2d
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-treat2d
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-treat2d
