[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize temp
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-temp
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-temp
