[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize awg
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-awg
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-awg
