[Desktop Entry]
Type=Application
Version=1.0
Name=Atomize field
Comment=Atomize control-centre tool
Exec=false
Icon=atomize-field
Terminal=false
NoDisplay=true
Categories=Science;Physics;
StartupWMClass=atomize-field
